[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.pidb
*.pidb.meta
/*.suo
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd

[Tt]emp/
[Oo]bj/
[Bb]uild
/[Bb]uilds/
/[Ll]ibrary/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*